services:
    setup:
        container_name: setup
        image: node:lts
        working_dir: /app
        volumes:
            - .:/app
        command: sh -lc "npm cache clean --force && npm install"
        restart: "no"

    workspace:
        container_name: workspace
        image: node:lts
        working_dir: /app
        depends_on:
            setup:
                condition: service_completed_successfully
        volumes:
            - .:/app
        command: sh -c "tail -f /dev/null"
        restart: "no"

    api:
        container_name: api
        build:
            context: .
            dockerfile: apps/api/Dockerfile
            target: dev
        working_dir: /app/apps/api
        env_file:
            - ./apps/api/.env.example
        depends_on:
            setup:
                condition: service_completed_successfully
        volumes:
            - .:/app
        ports:
            - "3333:3333"
        command: npm run dev

    web:
        container_name: web
        build:
            context: .
            dockerfile: apps/web/Dockerfile
            target: dev
        working_dir: /app/apps/web
        env_file:
            - ./apps/web/.env.example
        depends_on:
            setup:
                condition: service_completed_successfully
        volumes:
            - .:/app
        ports:
            - "3000:3000"
        command: npm run dev

networks:
    default:
        name: desafio-tecnico-procimo
        driver: bridge
